/* GENERAL SETTING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* height: 100vh;
    width: 100vw; */
}

h1 {
    font-family: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
}

h4,
h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2rem;
}

/* NAV BAR */
.line1,
.line2,
.line3 {
    height: 0.03rem;
    width: 0.05rem;
    background-color: #000;
    margin: 0.05rem;
}


a {
    text-decoration: none;
    color: black;
}

.navbar nav li {
    list-style: none;
}


.navbar {
    background-color: #ffffff;
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
    /* , 0px 20px 20px rgba(0, 0, 0, 0.1); */
}

.navbar nav {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    min-height: 10vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoImage {
    width: 9rem;
    height: 7rem;
}

.divLogo {
    flex: 1 1 40rem;
}


.navbar nav ul {
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    transition: all 0.5s;
}

.navbar nav ul li:hover {
    border-bottom: #000000 solid 0.2rem;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/heroSection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.heroContent {
    color: #ffffff;
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.heroContent h2 {
    padding: 3rem 0rem;
}

.heroContent h3 {
    padding: 3rem 0rem;
}

.heroContent button {
    margin-top: 3rem;
    padding: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: #EE401A;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease-in 0.1s;
}

.heroContent button:hover {
    background-color: white;
    color: #EE401A;
}


/* SERVICE SECTION */
.sectionService {
    height: auto;
    padding: 10rem 0rem;
}

.divService {
    width: 80%;
    margin: auto;

}

.divService h2,
.divService h3 {
    text-align: center;
    padding-bottom: 3rem;
}

.divCards {
    display: flex;
    flex-wrap: wrap;

}

.divCard {
    flex: 1 1 40rem;
    margin: 4rem;
}


.divImgCard img {
    max-width: 100%;

}

.divCard {
    transition: all 0.7s;
}

.divCard:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.divContentCard {
    padding: 1.5rem;
}

.divContentCard h6 {
    text-align: center;
    padding: 1rem;
}


/* GALLERY SECTION */

#benfits {
    position: relative;
}

.divGallery {}

.divTitleGallery {

    min-height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25315B;
    color: white;
}



.divGalleryImage {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 10rem 0rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.divImage {
    flex: 0 1 35rem;
    height: 30rem;
    margin: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.galleryImage {
    width: 100%;
    height: 100%;
}

.divImage:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* BENEFITS SECTION */

.curved {
    background: #EE401A;
    color: white;
    text-align: center;
    font-size: 0;
}

.curved h1 {
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 5rem 0 5rem;
}

.upper {
    background: #fff;
}