/* GENERAL SETTING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    /* height: 100vh;
    width: 100vw; */
}

h1 {
    font-family: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
}

h4,
h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2rem;
}


.line1,
.line2,
.line3 {
    height: 0.6rem;
    width: 3rem;
    background-color: #000;
    margin: 0.6rem;
    transition: all 0.5s;
}

.burger {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar nav li {
    list-style: none;
}

.navbar {
    background-color: #ffffff;
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
    /* , 0px 20px 20px rgba(0, 0, 0, 0.1); */
}

.navbar nav {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    min-height: 10vh;
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImage {
    width: 9rem;
    height: 7rem;
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    width: 50%;
}

.navbar nav ul li:hover {
    border-bottom: #000000 solid 0.2rem;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/heroSection.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.heroContent {
    color: #ffffff;
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.heroContent h2 {
    padding: 3rem 0rem;
}

.heroContent h3 {
    padding: 3rem 0rem;
}

.heroContent button {
    margin-top: 3rem;
    padding: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: #EE401A;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease-in 0.1s;
}

.heroContent button:hover {
    background-color: white;
    color: #EE401A;
}


/* SERVICE SECTION */
.sectionService {
    height: auto;
    padding: 10rem 0rem;
}

.divService {
    width: 80%;
    margin: auto;

}

.divService h2,
.divService h3 {
    text-align: center;
    padding-bottom: 3rem;
}

.divCards {
    display: flex;
    flex-wrap: wrap;

}

.divCard {
    flex: 1 1 40rem;
    margin: 4rem;
}


.divImgCard img {
    max-width: 100%;

}

.divCard {
    transition: all 0.7s;
}

.divCard:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.divContentCard {
    padding: 1.5rem;
}

.divContentCard h6 {
    text-align: center;
    padding: 1rem;
}


/* GALLERY SECTION */


.divTitleGallery {

    min-height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25315B;
    color: white;
}



.divGalleryImage {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 10rem 0rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.divImage {
    flex: 0 1 35rem;
    height: 30rem;
    margin: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.galleryImage {
    width: 100%;
    height: 100%;
}

.divImage:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* BENEFITS SECTION */

.benfits {
    margin-bottom: 5rem;
}

.curved {
    background: #EE401A;
    color: white;
    text-align: center;
    font-size: 0;
}

.curved h1 {
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 5rem 0 5rem;
}

.upper {
    background: #fff;
}

.divBenefitsCards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.benefitsCard {
    flex: 1 1 25rem;
    height: 60rem;
    margin: 6rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.beneftisLogo {
    color: #fff;
    background-color: #25315B;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.benefitsContent {
    padding: 1rem;
}

.benefitsContent h4 {
    text-align: center;
    padding: 2rem 0rem;
}

.benefitsContent p {
    text-align: justify;
    padding: 0rem 2rem;
}

/* CONTACT US !!! */

.contactUs {
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/contactusSection/contactUs1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.divContactUs {
    width: 90%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.divFormContactUs {
    flex: 1 1 40rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem;
}

.divTitle {
    margin: 2.5rem 0rem;
}

.divCallUsContactUs {
    flex: 1 1 40rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divForm {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: 3rem 4rem;
    margin: 2rem 0rem;
}

.divForm form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input[type=text],
textarea {
    border-radius: 1rem;
    padding: 0rem 1.5rem;
}

input[type=text] {
    height: 2.5rem;
    border: none;
}

.btnContactUs {
    border: none;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #1f589e;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.btnContactUs:hover {
    background-color: #4C8CD8;
}

.lblText {
    font-size: 2rem;
}

.divCallUsContactUs,
.divFormContactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.divCallUsContactUs div h3 {
    font-size: 4rem;
    font-weight: 500;
}

.divCallUsContactUs div p {
    font-size: 5rem;
    font-weight: 750;
}

.divCallus,
.divEmailUs {
    margin: 10rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endFootter {
    min-height: 10vh;
    background-color: #143c6d;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width:768px) {
    html {
        font-size: 45%;
    }

    .divImage {
        flex-grow: 1;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .navlinks {
        position: fixed;
        right: 0px;
        top: 10vh;
        width: 50%;
        height: 90vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        padding: 0px;
    }

    .navlinks li {
        opacity: 0;
    }

    .curved h2 {
        font-size: 3rem;
    }

    .divCallUsContactUs div h3 {
        font-size: 4.5rem;
        font-weight: 300;
    }

    .divCallUsContactUs div p {
        font-size: 3.5rem;
        font-weight: 800;
    }

    .divCallus,
    .divEmailUs {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 2rem;
        padding: 2rem 2rem;
        margin: 5em 3rem;

    }

    .divFormContactUs,
    .divCallUsContactUs {
        height: auto;
    }
}

@media screen and (max-width:330px) {

    .divFormContactUs {
        width: 90%;
        margin: 6rem 2rem;
    }

    .divCallUsContactUs div h3 {
        font-size: 3.5rem;
        font-weight: 300;
    }

    .divCallUsContactUs div p {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .divCallus,
    .divEmailUs {
        margin: 5em 3rem;

    }
}

.navLinksActive {
    transform: translateX(0%);
}

@keyframes navLinksAnimations {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* ANIMATION FOR CONVERT THE HUAMBURGER TO X */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}